
example/.vs/example/v15/Solution.VC.db-wal
example/.vs/example/v15/Solution.VC.db-shm
example/.vs/example/v15/Solution.VC.db
example/.vs/example/v15/Browse.VC.opendb
example/.vs/example/v15/Browse.VC.db
example/example.sln
example/example.vcxproj
example/example.vcxproj.filters
example/example.vcxproj.user
example/icon.rc
